@import url('../../constantes/Colors.css');

.graphPresentationContainer {
    margin-left: 5px;
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    flex-direction: column;
    box-shadow: var(--cardShadow);
    transition: 0.3s;
    min-width: 250px;
    box-sizing: border-box;
    cursor: pointer;
    border: 3px solid var(--secondary);
}

.graphPresentationContainer.selected {
    border: 3px solid var(--font);
}


.OtherUser :hover{
    border: 2px solid black;
}
