@import url('../../constantes/Colors.css');

.graphPresentationContainer {
    margin-left: 5px;
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    flex-direction: column;
    box-shadow: var(--cardShadow);
    transition: 0.3s;
    min-width: 250px;
    box-sizing: border-box;
    cursor: pointer;
    border: 3px solid var(--secondary);
}

.graphPresentationContainer.selected {
    border: 3px solid var(--font);
}

#ListUsers {
    height: 200px;
    padding: 10;
    overflow-y: scroll;
    scrollbar-width: none;
    border: 1px solid #ccc;
}

.OtherUser {
    display: flex;
    flex-direction: column;
    columns: 2;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
}

.OtherUserProfile {
    transition: transform 0.1s ease;
}

  
  .OtherUserProfile:hover {
    transform: translateY(-5px); 
  }