.baseText {
    padding: 0;
    margin: 0;
    text-align: left;

}

.smallText {
    font-size: 12px;
    font-family: "Poppins";
}

.normalText {
    font-size: 14px;
    font-family: "Poppins";
}

.midText {
    font-size: 18px;
    font-family: "Poppins";
}

.midTextBold {
    font-size: 18px;
    font-family: "PoppinsMedium";
}


.titleText {
    font-size: 24px;
    font-family: "PoppinsMedium";
}


.wrap {
    text-overflow: wrap;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}