@import url('../../constantes/Colors.css');

.baseText {
    padding: 0;
    margin: 0;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}

.smallText {
    font-size: 12px;
    font-family: var(--baseFont);
}

.normalText {
    font-size: 14px;
    font-family: var(--baseFont);
}

.midText {
    font-size: 18px;
    font-family: var(--baseFont);
}

.midTextBold {
    font-size: 18px;
    font-family: var(--mediumFont);
}


.titleText {
    font-size: 24px;
    font-family: var(--boldFont);
    font-weight: bold;
}

.hugeText {
    font-size: 30px;
    font-family: var(--boldFont);
    font-weight: bold;
}


.wrap {
    text-overflow: wrap;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.flex {
    flex: 1
}

.gray {
    color: var(--fontGray)
}

.error {
    color: var(--error)
}