@import url('../../constantes/Colors.css');

.usualButton{
    outline: none;
    background: none;
    border: none;
    font-family: var(--mediumFont);
    padding: 8px 20px;
    cursor: pointer;
}

.usualButton:hover{
    color: var(--fontGray);
}

.validation-button{
    background-color: transparent;
    border: 2px solid var(--contrast);
    cursor: pointer;
    font-family: var(--baseFont);

    border-radius: 10px;
    outline-offset: -1px;

    color: var(--fontContrast);
    transition: outline-offset 0.1s ease;
    background-color: var(--contrast);
    padding: 12px 24px;
    font-size: 14px;
}

.validation-button:hover {
    background-color: var(--contrastHover);
}

.validation-button.disabled {
    background-color: gray;
    border: 2px solid gray;
    outline: 2px solid gray;
}