.usualButton{
    outline: none;
    background: none;
    border: none;
    font-family: "PoppinsMedium";
    padding: 8px 20px;
    cursor: pointer;
}

.usualButton:hover{
    color: gray;
}

.validation-button{
    background-color: transparent;
    border: 2px solid #313443;
    cursor: pointer;
    font-family: "Poppins";

    border-radius: 5px;
    outline-offset: -1px;

    color: white;
    outline: 3px solid #313443;
    transition: outline-offset 0.1s ease;
    background-color: #313443;
    padding: 8px 20px;
    font-size: 14px;
}

.validation-button:hover{
    outline-offset: 2px;
}