@import url("../../constantes/Colors.css");

div.customNodeIconContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    padding: 5px;
    position: relative;
}

div.customNodeIconContainer:hover {
    transform: translateY(-2px);
    transition: 0.3s;
}

.colorIconGrayBorder {
    border: 3px solid var(--borderColor);
}