.homeScreenContainer {
    /*background-image: url("../data/Images/BackgroundHomePage.png"); /* à changer car image moche*/
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-height: 100%;
    flex: 1;
    overflow-y: scroll;
    gap: 20px;

}





.graphPresentationListContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ListGraph {
    padding: 10px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: auto;
    overflow:auto;
    scrollbar-width: none;
    border-radius: 10px;
}

