.ProfileScreenBody{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    background-color: #ccc; /* Couleur de fond par défaut */
    border-radius: 50%; /* Pour rendre l'image circulaire */
    margin: 0 auto 10px; /* Centrer horizontalement et ajouter un espace en bas */
}

.profile-actions {
    text-align: center;
    margin-bottom: 20px;
}

.profile-actions button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #0095f6; /* Couleur de fond du bouton */
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.profile-settings {
    border: 1px solid #ddd; /* Bordure autour de la section des paramètres */
    padding: 20px;
}

.profile-settings h2 {
    margin-bottom: 10px;
}

.profile-settings ul {
    list-style-type: none;
    padding: 0;
}

.profile-settings li {
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s; /* Animation de transition pour changer la couleur au survol */
}

.profile-settings li:hover {
    color: #0095f6; /* Couleur de survol */
}
