@import url('../../constantes/Colors.css');

.ModalOverlay{
    z-index: 1000000000000000000;
    position: fixed;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    background: var(--overlay);
    justify-content: center;
    align-items: center;

    display: flex;
    color: var(--font);
}

.ModalContainer{
    z-index: 1000000000000000000;
    height: auto;
    background-color: var(--secondary);
    box-shadow: var(--modalShadow);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
}

.ModalCore{
    padding: 30px;
    padding-right: 20px;
    padding-top: 5px;
    display: flex;
    flex: 1;
    overflow: hidden;
    flex-direction: column;
}

.ModalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: -3px;
}

.ModalFooter{
    background-color: var(--tertiary);
    padding: 15px;
    padding-left: 30px;
    display: flex;
    box-sizing: border-box;

    border-radius: 0 0 20px 20px;
}

.ModalTitle{
    font-weight: bold;
    font-size: 20px;
}

.ModalButtons {
    margin-left: auto;
}