@import url('../../constantes/Colors.css');

.autoComplete, .autoCreate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.autoCreate {
    margin-top: 5em;
}



.inputBorne, .inputCreate {
    border: none;
    background-color: var(--tertiary);
    padding: 0.5em;
    height: 3em;
    width: 3em;
    border-radius: 20%;
    margin-right: 1em;
    margin-bottom: 1em;
}

.borne, .parametreAutoCreate {
    display: flex;
    align-items: center;
}