@import url('../../constantes/Colors.css');

.subSideBarContainer #searchListContainer {
    height: 200px;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.subSideBarContainer #selectedOptions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.subSideBarContainer #searchNodeContainer {
    gap: 20px;
    padding-bottom: 30px;
    margin-inline: -20px;
    padding-inline: 20px;
    display: flex;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
    flex-direction: column;
    border-bottom: 2px solid var(--primary);
}

.subSideBarContainer #selectedOptionsItem {
    display: flex; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-direction: row;
    align-items: center; 
    gap: 30px; 
    border-radius: 10px;
}

.TitleAndSubtitleContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.subSideBarContainer #colorBlockContainer {
    cursor: pointer;
    transition: 0.3s;
}

.subSideBarContainer #colorBlockContainer:hover {
    transform: translateY(-3px);
}

.tooltip {
    display: inline-block;
    position: absolute;
    background-color: var(--contrast);
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: 0;
    left: 90px;
    font-weight: bold;
    opacity: 0;    
    font-family: var(--baseFont);
    color: var(--fontContrast);
    visibility: hidden;
    font-size: 14px;
    letter-spacing: .5px;
    z-index: 5000;
    box-shadow: var(--tooltipShadow);
    
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: -4px;
        top: 10px;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        background-color: inherit;
    }
}

#selectedOptionsItem {
    &:hover {    
        .tooltip {
            visibility: visible;
            opacity: 1;
        }
    }	
}
	

#edgeBoolVals {
    border-radius: 10px;
    width: auto;
    height: 45px;
    margin: 0;
    display: flex;
    align-items: center;
    margin-right: auto;
    transition: 0.3s;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    gap: 20px;
    margin-block: 5px;
    padding-inline: 10px;
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: var(--baseFont);
    font-weight: bold;
}