@import url('../../constantes/Colors.css');

select {
  border-right: 16px solid transparent;
}

.settingsSideBarBody {
    flex-direction: column;
    display: flex;
    gap: 20px;
}
.settingsSideBarRadio {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#settingsSideBarFooter {
    margin-inline: -20px;
    padding-inline: 20px;
    border-top: 2px solid var(--primary);
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    border-top: 2px solid var(--primary);
    margin-inline: -20px;
    padding-inline: 20px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    padding-top: 15px;
    gap: 30px;
    align-items: center;

}


#SelectedCalculWay {
  margin-top: 3em;
  margin-bottom: 10em;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid var(--borderColor);
  border-radius: 10%;
}

#SelectPropagation {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;

}

.selectOptionsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#SelectAgregation {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}



