.sideBar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    z-index: 1000;
    margin-top: -20px;
}

.sideBarItem {
    transition: 0.3s;
    margin-top: 20px;
}

.sideBarItem:hover {
    transform: translateX(5px);
}


div.customSibeToolbar {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    margin-top: -100px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    padding: 2px 7px;
    margin: 10;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.1);
  }
  
  div.customSibeToolbarHidden {
    opacity: 0;
    pointer-events: none;
  }