.sideBar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    z-index: 1000;
    box-sizing: border-box;
    max-height: 100%;
    display: flex;
    gap: 15px;
}

.sideBarItem {
    transition: 0.3s;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.sideBarItem:hover {
    transform: translateX(5px);
}


div.customSibeToolbar {
    position: absolute;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    right: 90px;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.1);
}
  
div.customSibeToolbarHidden {
opacity: 0;
pointer-events: none;
position: absolute;
}

.sideBarItem div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBarItem p {
    margin: 0;
    font-size: 12px;
    font-family: "PoppinsLight";
    font-weight: bold;
    user-select: none;
}