@import url('../../../constantes/Colors.css');

div.customHandle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
  border: none;
  opacity: 0;
}

.customNodeEditToolbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  background-color: white;
  border-radius: 10px;
  min-width: auto;
  box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.1);
}


div.customNodeToolbarHidden {
  opacity: 0;
  pointer-events: none;
}

div.customNodeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

div.separator {
  width: 1px;
  background-color: var(--primary);
}

div.customNode {
  display: block;
  padding: 10px;
  max-width: 125px;
  min-width: 70px;
  white-space: wrap;
  border-radius: 5px;
  overflow-wrap: break-word;
}


.verticalTooltip {
  display: inline-block;
  position: absolute;
  background-color: var(--contrast);
  padding: 8px 15px;
  border-radius: 3px;
  margin-top: 0;
  font-weight: bold;
  opacity: 0;    
  font-family: var(--baseFont);
  color: var(--fontContrast);
  visibility: hidden;
  font-size: 14px;
  letter-spacing: .5px;
  left: -10px;
  z-index: 5000;
  white-space: nowrap;
  width: auto;
  top: -50px;
  box-shadow: var(--nodeToolBarShadow);
  
  &:before {
      content: '';
      display: block;
      position: absolute;
      left: 20px;
      top: 30px;
      transform: rotate(45deg);
      width: 10px;
      height: 10px;
      background-color: inherit;
  }
}

.customNodeIconContainer {
  &:hover {    
      .verticalTooltip {
          visibility: visible;
          opacity: 1;
      }
  }	
}