.fieldset-container {
    width: 100%;
    height: 100%;

    background-color: "transparent";
    box-sizing: border-box;
    border-radius: 5px;
    min-width: 150px;
    min-height: 150px;
}

.fieldset-container input {
    all: unset;
}

.fieldset {
    background-color: none;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    min-width: 150px;
}

.legend {
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-bottom: 0px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.inputLegendFieldsetNodeContainer {
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 14px;
    text-align: left;
    margin: 0px;
    border: none;
    outline: none; 
    font-family: "PoppinsSemiBold";
    width: 100%;
    cursor: text;
}

.textLegendFieldsetNodeContainer {
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 14px;
    text-align: left;
    margin: 0px;
    border: none;
    outline: none; 
}

.inputLegendFieldsetNode {
    border: none; 
    outline: none; 
    min-width: 100% !important;
    width: 100%;
    padding: 8px !important;
    font-family: inherit;
}

.customNodeText {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    line-height: normal;
    font-family: "PoppinsSemiBold";
    user-select: none;
}

div.FieldsetNodeToolbar {
    position: absolute;
    top: 108%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 2px 5px;
    margin: 10;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.1);
  }

div.InputFieldSetNode {
    position: absolute;
    top: 105%;
    width: auto;
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px;
    margin-left: auto;
}

div.customFieldToolbar {
    position: absolute;
    top: 102%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 2px 5px;
    margin: 10;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.1);
}

div.subCustomFieldToolbar {
    position: absolute;
    top: 120%;
    background-color: white;
    border-radius: 10px;
    left: 0;
    display: flex;
    flex-direction: row;
    padding: 2px 5px;
    margin: 10;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.1);
}

div.customFieldToolbarHidden {
    opacity: 0;
    pointer-events: none;
  }


div.customFieldIconContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    padding: 5px;
}

.react-flow__resize-control.line {
    border-color: black !important;
    border-width: 0;
    border-style: solid;
}

.react-flow__resize-control.handle {
    width: 6px !important;
    height: 6px !important;
    border-radius: 50% !important;
    border: 2px solid #fff !important;
    background-color: black  !important;
    transform: translate(-50%, -50%);
}