@import url('../../../constantes/Colors.css');

.fieldset-container {
    width: 100%;
    height: 100%;

    background-color: "transparent";
    box-sizing: border-box;
    border-radius: 5px;
    min-width: 150px;
    min-height: 150px;
}

.fieldset-container input {
    all: unset;
}

.inputLegendFieldsetNodeContainer {
    background-color: var(--secondary);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 14px;
    text-align: left;
    margin: 0px;
    border: none;
    outline: none; 
    font-family: var(--semiBoldFont);
    width: 100%;
    cursor: text;
    box-sizing: border-box;
    padding: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textLegendFieldsetNodeContainer {
    background-color: var(--secondary);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 14px;
    text-align: left;
    margin: 0px;
    border: none;
    outline: none; 
    padding: 8px;
}

.inputLegendFieldsetNode {
    border: none; 
    outline: none; 
    min-width: 100% !important;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    overflow: hidden;

}

.customNodeText {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    line-height: normal;
    font-family: var(--semiBoldFont);
    user-select: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

div.customFieldToolbar {
    position: absolute;
    top: 102%;
    background-color: var(--secondary);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 2px 5px;
    margin: 10;
    box-shadow: var(--nodeToolBarShadow);
}

div.subCustomFieldToolbar {
    position: absolute;
    top: 120%;
    background-color: var(--secondary);
    border-radius: 10px;
    left: 0;
    display: flex;
    flex-direction: row;
    padding: 2px 5px;
    margin: 10;
    box-shadow: 3var(--nodeToolBarShadow);
}

div.customFieldToolbarHidden {
    opacity: 0;
    pointer-events: none;
  }


div.customFieldIconContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    padding: 5px;
}

.react-flow__resize-control.line {
    border-color: var(--resizeBorderColor) !important;
    border-width: 0;
    border-style: solid;
}

.react-flow__resize-control.handle {
    width: 6px !important;
    height: 6px !important;
    border-radius: 50% !important;
    border: 2px solid #fff !important;
    background-color: var(--resizeBorderColor)  !important;
    transform: translate(-50%, -50%);
}